# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include CHANGES MANIFEST.in README TODO
include countem installit
recursive-include NLP *.py test.all
recursive-include ghpDoc *
global-exclude junk* .*swp 


