# see http://docs.python.org/distutils/sourcedist.html

include netDistrib.conf
include CHANGES MANIFEST.in README TODO
include auto8it countem installit
recursive-include nlp *.py test.all
recursive-include ghpDoc *
global-exclude junk* .*swp 


